@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Mukta:wght@400;700&family=Roboto:wght@100;300;500;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.navbar { 
    background-color: #cc6666;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
}

.navbar .logo {
    font-size: 30px;
    grid-column: 2 / 3;
    text-decoration: none;
    color: #ffff99;
    cursor: pointer;
}

.navbar .menu {
    grid-column: 5 / 8;
    display: flex;
    justify-content: space-around;
}

.navbar .menu li {
    list-style: none;
    font: lighter;
    font-family: 'Montserrat', sans-serif;
}

.navbar .menu a {
    text-decoration: none;
    color: #ffff99;
    cursor: pointer;
}

.row {
    display: flex;
    height: 100%;
    padding: 50px 80px 80px 50px;
}

aside {
    flex: 30%;
    background-color: #f5ede5;
    padding: 20px;
}

.lista {
    padding: 20px;
    text-decoration: none;
    list-style: none;
}

section {
    flex: 70%;
    padding: 20px;
}
 
.lista li {
    padding: 10px;
    cursor: pointer;
}

.iframe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
iframe {
    width: calc(50% - 10px);
    height: 315px;
    margin-bottom: 20px;
    border: none;
  }